/* Styles shared by components */

html,
body {
  position: relative;
  z-index: 0;
  background-color: black;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "ProggyVector";
  font-size: 100%;
}

textarea,
input {
  box-sizing: border-box;
  border: .1em solid rgba(136, 136, 136, 0.41);
  background-color: rgba(47, 43, 36, 0.982);
  color: antiquewhite;
  border-radius: 4px;
  font-style: "ProggyVector";
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  outline: none;
  padding: 0.5em 0.3em;
  resize: none;
}

select,
button {
  font: inherit;
}

a {
  font-style: italic;
  color: rgba(250, 235, 215, 0.767);
  text-decoration: none;
}

img {
  -webkit-user-drag: none;
}

::-moz-selection {
  color: black;
  background: antiquewhite;
}

::selection {
  color: black;
  background: antiquewhite;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline-color: rgb(56, 56, 56);
    outline-width: 1px;
}

.stars {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../../../backend/static/stars.svg');
  background-size: 50%;
  transition: background-position 950ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.stars::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for the desired dimming effect */
}

.app-avatar {
  height: 50px;
  width: 50px;
  /* background-color: rgba(226, 245, 218, 0.098); */
}

.error {
  background-color: rgb(171, 32, 32);
  transition: background-color 0.2s;
}

/* Width */
::-webkit-scrollbar {
  width: 8px;
}

/* blend track with background */
::-webkit-scrollbar-track {
  background: rgb(34, 35, 33);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

/*
Point fontfaces to server-side fonts.
- Reduced DinaRemaster and Gohu to latin characters for smaller filesize (https://stackoverflow.com/questions/2635423/way-to-reduce-size-of-ttf-fonts). ProggyVector is the user-input font, so kept all characters (might revisit to reduce size further). WOFF conversion for compatibility.
*/

@font-face {
  font-family: 'Gohu Nerd Font';
  src: url('../../../backend/static/GohuFontSmaller.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProggyVector';
  src: url('../../../backend/static/ProggyVector-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}