/* styling for App.js */
.welcome-container {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
  user-select: none;
  -webkit-user-select: none;
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  opacity: 1;
  animation: fade 500ms linear;
  gap: 1rem;
}

.app-h {
  display: flex;
  height: 115px;
  flex-direction: row;
  column-gap: 15px;
  justify-content: center;
  align-items: center;
  animation: float 4000ms infinite ease-in-out;
  font-family: "Gohu Nerd Font";
}

.title {
  color: rgb(226, 245, 218);
  text-shadow: 0px 2px 4px rgb(56, 56, 56);
  font-size: 350%;
  margin-left: 5px;
}

.logo-r {
  align-self: flex-end;
  transform: translateY(1rem) translateX(-0.4rem);
}

.logo-l {
  align-self: flex-end;
  transform: translateY(1rem) translateX(0.4rem);
}

@keyframes float {
  0% { transform: translatey(0px); }
  50% { transform: translatey(10px); }
  100% { transform: translatey(0px); }
}

.toggle-mute {
  border: none;
  background: none;
  cursor: pointer;
}

.app-input {
  display: grid;
  grid-template-rows: 85px 115px 50px;
  grid-template-columns: 400px;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.app-input.ijoin {
  border: 1px #9cc0e77b solid;
  border-radius: 10px 10px 30px 30px;
  background-color: #9cc0e717;
}

.app-input.icreate {
  border: 1px #c8ffd2ac solid;
  border-radius: 10px 10px 30px 30px;
  background-color: #c8ffd216;
}

.app-user {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 1fr;
  color: rgb(226, 245, 218);
  font-family: 'Gohu Nerd Font';
}

.app-lobby {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 1fr;
  color: rgb(226, 245, 218);
  font-family: 'Gohu Nerd Font';
  padding-bottom: 10px;
}

.container-user,
.container-lobby {
  display: grid;
  border: none;
  outline: none;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 2.8rem;
}

.label-user,
.label-lobby {
  font-size: 130%;
  padding: .1rem;
  align-self: start;
}

.action-buttons {
  display: grid;
  justify-self: center;
  align-self: end;
  gap: 5px;
}

.create,
.join {
  padding: 0.1rem 0.3rem;
  border: none;
  background-color: transparent;
  border-radius: 6px;
  font-family: "Gohu Nerd Font";
  font-weight: 700;
  font-size: 150%;
  place-self: center;
  cursor: pointer;
  transition: 200ms;
}

.create {
  color: #c8ffd2;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.join {
  color: #9cc0e7;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.create:hover,
.join:hover {
  transform: scale(1.05);
}

.create:active,
.join:active {
  transform: scale(.98);
}

.create.selected {
  color: black;
  background-color: #c8ffd2;
  text-shadow: none;
}

.join.selected {
  color: black;
  background-color: #9cc0e7;
  text-shadow: none;
}

.app-textarea {
  font-size: 110%;
  height: 67%;
}

.app-enter-container {
  display: flex;
  justify-content: space-evenly;
}

.app-enter {
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 8px;
  color: rgb(34, 35, 33);
  text-shadow: 0px 2px 4px rgb(218, 240, 245, 0.775);
  font-family: "Gohu Nerd Font";
  font-weight: 700;
  font-size: 150%;
  place-self: center;
  cursor: pointer;
  transition: 200ms;
}

.app-enter:hover {
  transform: scale(1.05);
}

.app-enter:active {
  transform: scale(.98);
}

/* small screen/mobile alterations */
@media only screen and (max-width: 668px) {
  .welcome-container {
    display: grid;
    grid-template-rows: repeat(2, 110px);
    justify-content: center;
    align-items: center;
    height: 95vh;
  }

  .app-h {
    display: grid;
    justify-content: center;
    color: rgb(226, 245, 218);
    text-shadow: 0px 2px 4px rgb(56, 56, 56);
    font-family: "Gohu Nerd Font";
    // font-size: 34px;
  }

  .app-sh {
    display: flex;
    justify-content: center;
    color: rgb(218, 240, 245);
    text-shadow: 0px 2px 4px rgb(56, 56, 56);
    font-family: "Gohu Nerd Font";
    // font-size: 22px;
  }

  .app-input {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 350px;
    justify-content: center;
    align-items: center;
    font-family: "ProggyVector";
  }
}