body {
  position: relative;
  background-color: rgb(34, 35, 33);
  overflow: hidden;
}

.welcome-container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  align-items: center;
}

.app-h {
  display: grid;
  justify-content: center;
  color: rgb(226, 245, 218);
  text-shadow: 0px 2px 4px rgb(56, 56, 56);
  font-family: "GohuFont uni14 Nerd Font Mono";
  font-size: 55px;
  margin-top: 20vh;
  margin-bottom: 0px;
}

.app-sh {
  display: flex;
  justify-content: center;
  color: rgb(218, 240, 245);
  text-shadow: 0px 2px 4px rgb(56, 56, 56);
  font-family: "GohuFont uni14 Nerd Font Mono";
  font-size: 40px;
  margin-top: 15px;
}

.app-input {
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  align-items: center;
  font-family: "ProggyVector";
}

.app-user {
  display: grid;
  border: none;
  outline: none;
  justify-content: left;
  align-items: center;
  grid-template-columns: 120px 1fr;
  gap: 20px;
  color: rgb(226, 245, 218);
  font-family: "DinaRemaster";
  font-size: 25px;
}

.app-lobby {
  display: grid;
  border: none;
  outline: none;
  align-items: center;
  grid-template-columns: 140px 1fr;
  color: rgb(226, 245, 218);
  font-family: "DinaRemaster";
  font-size: 25px;
  gap: 20px;
}

.color-grid {
  display: grid;
  /* background-color: rgba(245, 245, 245, 0.079); */
  grid-template-columns: repeat(auto-fill, 40px);
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 7px;

}
.color-option {
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  cursor: pointer;
}

.color-option.selected {
  border-color: rgba(255, 255, 255, 0.151);
  animation: pulse 1.5s infinite;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.app-j {
  display: grid;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 6px;
  width: fit-content;
  background-color: rgb(226, 245, 218, 0.775);
  color: rgb(34, 35, 33);
  text-shadow: 0px 2px 4px rgb(218, 240, 245, 0.775);
  font-family: "GohuFont uni14 Nerd Font Mono";
  font-weight: bold;
  font-size: 25px;
  place-self: center;
  margin-top: 15px;
}

/* unsure about using .not-connected for pre-lobby just yet */
/* .not-connected {
  display: grid;
  grid-template-rows: 30px;
  background-color: rgba(226, 245, 218, 0.775);
  color: rgb(34, 35, 33);
  border-radius: 10px;
  margin-top: 15px;
  justify-content: center;
  text-align: left;
  font-family: "GohuFont uni14 Nerd Font Mono";
  font-size: 25px;
  transition: 1s;
  animation: wiggle 2s infinite;
}
*/

.lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lobby-h {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.lobby-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  width: 100%;
}

.lobby-body {
  width: 100%;
  margin: 0 auto;
  max-height: 71vh;
  min-height: 71vh;
  overflow-y: scroll;
  /* border-bottom: 1px solid rgb(49, 50, 46); */
  /* box-shadow: 0px 20px 0px rgba(49, 50, 46, 0.281); */
  scrollbar-width: thin;
  scrollbar-color: rgb(68, 65, 60) rgba(34, 35, 33, 0); /*thumb and track colors*/
}

.lobby-c {
  display: flex;
  border: 1px solid rgb(226, 245, 218);
  border-radius: 4px;
  background-color: rgb(34, 35, 33);
  color: rgb(226, 245, 218);
  text-shadow: 0px 2px 4px rgb(45, 46, 44);
  font-family: "ProggyVector";
}

.welcome {
  font-size: 35px;
  font-family:"GohuFont uni14 Nerd Font Mono";
  color: rgb(226, 245, 218);
  text-shadow: 0px 2px 4px rgb(56, 56, 56);
}

.message-list {
  display: flex;
  flex-direction: column-reverse;
}

.message {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: antiquewhite;
  margin-top: 10px;
  max-width: 50%;
  overflow-wrap: break-word;
}

.message-c {
  font-family: "ProggyVector";
}

/* current user msg */
.message-cr {
  align-self: flex-end;
  align-items: flex-end;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.message-cr:hover {
  background-color: rgb(46, 47, 44);
}

/* other user in lobby msg */
.message-cl {
  color: rgb(34, 35, 33);
  background-color: antiquewhite;
  align-self: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
}

.message-cl:hover {
  background-color: rgb(202, 191, 175);
  color: rgb(29, 30, 28);
  transition: .3s
}

.message-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "ProggyClean Nerd Font Mono";
  opacity: 0.5;
  margin-top: -20px;
  border-radius: 10px;
}

.time {
  display: flex;
  justify-content: right;
  padding-right: 5px;
  font-size: 15px;
}

.user {
  display: flex;
  justify-content: left;
  margin-right: 5px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 25px;
  font-weight: bold;
  background-color: antiquewhite;
  border-radius: 5px;
}

.lobby-footer {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  position: fixed;
  bottom: 50px;
  resize: none;
}

.text-input {
  width: 50vh;
  height: 30px;
  border: 1px solid antiquewhite;
  border-radius: 4px;
  font-size: 16px;
  font-family: "ProggyVector";
  outline: none;
}

.text-input:focus {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    outline: 2px solid transparent;
  }
  50% {
    outline: 2px solid rgb(226, 245, 218);
  }
  100% {
    outline: 2px solid transparent;
  }
}

.send {
  border: 1px solid rgb(229, 244, 240);
  background-color: rgb(34, 35, 33);
  color: rgb(229, 244, 240);
  width: 80px;
  border-radius: 5px;
  margin-left: 10px;
  transition: .2s;
}

.send:hover {
  transform: scale(1.05);
  transition: .2s;
}

.new-messages {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  background-color: rgba(226, 245, 218, 0.204);
  color: rgb(202, 191, 175);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  animation: wiggle 1s infinite;
}

.new-messages.visible {
  display: block;
}

@keyframes wiggle {
  0% { 
    transform: rotate(0deg); 
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(2deg);
  }
  95% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}